**
!requirements-addon.txt
!rootfs/
!rootfs/**
!CybroEdgeToolkit/
!CybroEdgeToolkit/app/
!CybroEdgeToolkit/app/config.ini
!CybroEdgeToolkit/app/lib/
!CybroEdgeToolkit/app/lib/**
!CybroEdgeToolkit/app/scgi_server/
!CybroEdgeToolkit/app/scgi_server/**
!CybroEdgeToolkit/app/mqtt_client/
!CybroEdgeToolkit/app/mqtt_client/**
!CybroEdgeToolkit/app/tls/
!CybroEdgeToolkit/app/tls/**
**/__pycache__/
**/*.pyc
**/*.log
